form{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

input{
  margin-left: 0.5%;
}


.custom-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.custom-list {
  width: auto; 
  margin: 0 auto; 
}